div.panel
	h2.title_heading {{title}}
	div
		div
			p.small-12.medium-4.columns Name:
			input.small-12.medium-8.columns.input(
				type='text'
				ng-model='essid'
				required
			)

			p.small-12.medium-4.columns Key management:
			select.small-12.medium-8.columns.input(
				type='text'
				ng-model='opmode'
				ng-change='opmodeChange()'
				ng-init="opmode='wpa2-psk-aes'"
			)
				option(value='opensystem') Open
				option(value='wpa2-psk-aes') WPA-2 Personal

			p.small-12.medium-4.columns(ng-show="opmode=='wpa2-psk-aes'") Passphrase:
			input.small-12.medium-8.columns.input(
				type='password'
				ng-model='passphrase'
				ng-show="opmode=='wpa2-psk-aes'"
			)

			button.small-12.medium-12.medium.columns.button(
				type='submit'
				ng-click='saveNetwork()'
			) OK
		